COMPOSE_PROJECT_NAME=
COMPOSE_PROFILES=

REACT_APP_PORT=

EXPRESS_PORT=
EXPRESS_SESSION_SECRET=

MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_HOST=
MONGO_PORT=
MONGO_DATABASE=

NEO4J_USERNAME=
NEO4J_PASSWORD=
NEO4J_HOST=
NEO4J_PORT_HTTP=
NEO4J_PORT_BOLT=
NEO4J_IMAGE=
