[submodule "project-olive-backend"]
	path = project-olive-backend
	url = git@github.com:ProDevTeamOliva/project-olive-backend.git
[submodule "project-olive-frontend"]
	path = project-olive-frontend
	url = git@github.com:ProDevTeamOliva/project-olive-frontend.git
